* {
    margin: 0;
    padding: 0;
    
}
/* Aplicando estilos al header*/
header {
    background-color: rgb(155, 206, 134);
    overflow: none;
    height: 60px;
}

#title {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 8px;
    display: inline-block;
    margin-left: 20px;
}

.menu {
    float: right;
    padding-top: 8px;
    margin-right: 30px;
    
    font-weight: bold;
}
.menu ul li {
    display: inline-block;
    margin-top: 2px;
}

.menu a {
    text-decoration: none;
    list-style: none;
    padding-left: 3px;
    color: white;
}
.menu a:hover {
    color: black;
}

/* Estilos al section*/
.section {
    background-color: rgb(255, 250, 174);
    overflow: none;
}
.container1 {
    margin-left: 25px;
    
}
.container2 {
    float: right;
    margin-right: 250px;
    margin-top: -140px;
}

.parrafo {
    float: left;
    margin-left: 80px;
    margin-right: 500px;
    margin-top: 20px;
}

.button {
    border-radius: 8%;
    border: 1px solid gray;
    margin-left: 100px;
    margin-top: 15px;
}
/* footer */
.footer {
    background-color: black;
    height: 50px;
}
.footer div {
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 10px;
}



